.ModulesManage span{
    margin:0px 5px;
}

.ModulesManage Button{
    background-color:darkgray;
    border:gray;
}

.ModulesManage-Table{
    margin:20px 30px;
}

.ModulesManage-dialog .inline-input{
    max-width: 250px;
    margin:0px 10px;
}