.AnnDataManage_button{
    background-color: gray;
    border:gray;
    margin:5px 10px;
}

.AnnDataManage_table{
    margin:8px 0px;
}

.AnnDataImport_1 h3{
    margin:30px 0px 0px 0px;
    padding:0px;
}

.AnnDataImport_1 div{
    text-align: left;
    margin:0px 0px 0px 95px;
}

.AnnDataImport_1 a{
    color:gray;
    margin:0px 5px;
    padding:0px;
}

.AnnDataImport_2 div{
    margin:5px;
}

.AnnDataImport_2 h2,
.AnnDataImport_3 h2{
    margin:30px 0px 5px 100px;
    text-align: left;
    color:#61abf8;
}

.AnnDataManage_Select {
    max-width:105px;
    margin:5px 5px;
}

.AnnDataManage .inline-input{
    width:100px;
}

.AnnDataQuery_Select{
    width:95px;
    margin:0px 5px;
}

.AnnDataQuery .inline-input{
    margin:0px 5px;
    width:100px;
}







