.UserManage span{
    margin:0px 5px;
}

.UserManage Button{
    background-color:darkgray;
    border:gray;
}

.UserManage-Table{
    margin:10px 30px;
}

.UserManage-Table a,
.UserManage-Table a:focus,
.UserManage-Table a:visited{
    text-decoration: none;
    color:#20a0ff;
}

.UserManage-Table a:hover{
    color:#4db3ff;
}

.UserManage_Select{
    width:150px;
}

