.ApartmentManage-tree{
    margin:20px;
}

.ApartmentManage-context-1{
    border-bottom: lightgray 1px solid;
    border-top: lightgray 1px solid;
    margin:50px 0px 0px 0px;
    padding:20px 0px;
}

.ApartmentManage-context-2{
    border-bottom: lightgray 1px solid;
    padding:20px 0px;
}

.ApartmentManage-context-2 div{
    padding:3px 0px;
}
