.QuaDataManage_button{
    background-color: gray;
    border:gray;
    margin:5px 10px;
}

.QuaDataManage_table{
    margin:8px 0px;
}

.QuaDataImport_1 h3{
    margin:30px 0px 0px 0px;
    padding:0px;
}

.QuaDataImport_1 div{
    text-align: left;
    margin:0px 0px 0px 95px;
}

.QuaDataImport_1 a{
    color:gray;
    margin:0px 5px;
    padding:0px;
}

.QuaDataImport_2 div{
    margin:5px;
}

.QuaDataImport_2 h2,
.QuaDataImport_3 h2{
    margin:30px 0px 5px 100px;
    text-align: left;
    color:#61abf8;
}

.QuaDataManage_Select {
    max-width:105px;
    margin:5px 5px;
}

.QuaDataManage .inline-input{
    width:100px;
}

.QuaDataQuery_Select{
    width:95px;
    margin:0px 5px;
}

.QuaDataQuery .inline-input{
    margin:0px 5px;
    width:100px;
}







