.PSIndex div{
  margin:3px 0px;
  text-align: left;
}

.PSIndex .el-select div{
  margin:0px;
}

.PSIndex span{
  display: inline-block;
  margin:0px 4px;
}

.PSIndex .el-table__header-wrapper,
.PSIndex .el-table__body-wrapper{
  margin:0px;
}

.PSIndex .inline-input-textarea{
  display:inline-block;
  max-width: 350px;
  margin:10px 10px 0px 5px;
}
