.UserManage-Table,.ModulesManage-Table{
    margin:20px 30px;
}

.UserManageAuthorization-table{
    width:371px;
    margin:0px 40px;
}

.UserManageAuthorization-table Button {
    margin:10px 5px;
}
