.App {
  text-align: center;
}

.App h3{
  position:relative;
  left:-350px;
  top:0px;
}

.App .inline-input{
  display:inline-block;
  max-width: 200px;
  margin:0px 10px 0px 5px;
}

/*---登录板块开始---*/
.Login-left{
  color:white;
  background-image: url("./raw_1522310817.jpeg");
  background-size: 100% 100%;
  margin:20px 130px;
  padding:100px 0px;
  width:550px;
  height:400px;
}

.Login-right h1{
  font-size: 3.5em;
  color:gray;
  margin:80px 0px 30px 0px;
}

.Login-right Input{
  max-width: 300px;
}

.Login-right p{
  padding:0px 220px;
  margin:10px;
  text-align: left;
}

.Login-right .Checkbox{
  margin:5px 0px 0px 200px;
}

.Login-right Button{
  display: block;
  width:290px;
  height:40px;
  background-color: #fda085;
  border:#fda085;
  margin:20px 230px;
}

.Login-right a{
  margin:0px 10px;
  color:black;
}

.Login-right a:hover{
  color:blue;
}
/*---登录板块结束---*/

/*---头部导航板块开始---*/
.App-header {
  background-color: #fda085;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title-center {
  font-size: 1.5em;
  line-height: 50px;
  padding:0px 0px 0px 100px;
}

.App-title-right{
  float:right;
}

.App-title-right span{
  padding:20px 5px;
}

.App-header-Breadcrumb{
  padding:10px 300px;
  border-bottom: darkgray 1px solid;
}
/*---头部导航板块结束---*/

/*---内容板块开始---*/
/*---部门管理---*/
.ApartmentManage-tree{
  margin:20px;
}

.ApartmentManage-context-1{
  border-bottom: lightgray 1px solid;
  border-top: lightgray 1px solid;
  margin:50px 0px 0px 0px;
  padding:20px 0px;
}

.ApartmentManage-context-2{
  border-bottom: lightgray 1px solid;
  padding:20px 0px;
}

/*---用户管理,模块管理---*/
.UserManage span,.ModulesManage span{
  margin:0px 5px;
}

.UserManage Button,.ModulesManage Button{
  background-color:darkgray;
  border:gray;
}

.UserManage-Table,.ModulesManage-Table{
  margin:20px 30px;
}

.UserManageAuthorization-table{
  width:371px;
  margin:0px 40px;
}

.UserManageAuthorization-table Button {
  margin:10px 5px;
}

.ModifyPassword div{
  margin:5px 5px;
}

/*---用户组管理---*/
.UserGroupManage-table{
  margin:10px 20px;
}

/*---内容板块结束---*/

/*---底部导航板块开始---*/
.App-foot{
  background-color: black;
  color:white;
  height:100px;
  width:100%;
  position: relative;
  top:800px;
}
/*---底部导航板块结束---*/

