.App {
  text-align: center;
}

.App h3{
  position:relative;
  left:-350px;
  top:0px;
}

.App .inline-input{
  display:inline-block;
  max-width: 200px;
  margin:0px 10px 0px 5px;
}

.App .el-dialog__body{
  padding:30px 20px 20px 20px;
}

.App .el-form-item__label{
  padding:11px 0px;
}

.App .el-form-item{
  margin-bottom: 15px;
}